;;;;
; npm userconfig file {{{
; this is a simple ini-formatted file
; lines that start with semi-colons are comments.
;
; read `npm help 7 config` for help on the various options
; or see: https://docs.npmjs.com/misc/config
; }}}
;;;;

editor = vim
registry = http://registry.npm.taobao.org/

; vim: set shiftwidth=4 softtabstop=-1 expandtab foldmethod=marker:
; vim: set textwidth=80 colorcolumn=80:
